<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Merriweather:wght@700&family=Open+Sans&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Import DataTable Library -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>
    <title>Quan ly san pham </title>
</head>

<body onload="onPageLoading()">
    <div class="container">
        <div class="text-center mt-3">
            <h2>Quản lý danh sách sản phẩm</h2>
        </div>
        <div class="form--group">
            <button class="btn btn-success mb-2" id="btn-add-product"><i class="fa fa-plus"></i>&nbsp; Thêm sản
                phẩm</button>
        </div>
    </div>
    <div class="container">
        <table id="product-table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- Create product modal -->
    <div>
        <div id="create-product-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Thêm product</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-create-name">Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-create-name" name="reqName" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-create-Price">Price</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-create-price" name="reqPrice" placeholder=""
                                        class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" id="btn-create-product"
                            style="float: right;">Insertproduct</button>
                        <button class="btn btn-danger" id="btn-create-cancel" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Update product modal -->
    <div>
        <div id="update-product-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Chi tiết product</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-productid"> Product Id</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-productid" name="id" class="form-control"
                                        readonly="true">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-Name"> Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-Name" name="reqName" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-Price">Price</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-price" name="reqPrice" placeholder=""
                                        class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" style="float: right;" id="btn-update-product">Update
                            Product</button>
                        <button class="btn btn-danger" id="btn-update-cancel" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete confirm modal -->
    <div>
        <div class="modal fade" tabindex="-1" id="delete-confirm-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Confirm xóa product</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label>Bạn có chắc chắn muốn xóa product này không?</label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="btn-confirm-delete-product">Xác nhận</button>
                        <button class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const gBASE_URL = "/api/product/";
        $("#btn-add-product").on("click", function () {
            onBtnAddNewProductClick();
        });

        $("#btn-create-product").on("click", function () {
            onBtnAddProduct();
        })

        $("#btn-update-product").on('click', function () {
            onBtnUpdateProduct();
        });
        $("#btn-confirm-delete-product").on('click', function () {
            onBtnConfirmDeleteProduct();
        })
        // sự kiện create product trên modal

        function onPageLoading() {
            getAllProduct();
        }
        function getAllProduct() {
            const token = sessionStorage.getItem('token');
            if (!token) {
                window.location.href = 'login.html';
            }
            "use strict:";
            $.ajax({
                url: gBASE_URL,
                type: 'GET',
                headers: {
                    'Authorization': `Bearer  ${token}`
                },
                success: function (paramProduct) {
                    console.log(paramProduct);
                    loaDataToTable(paramProduct.data);
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        }


        function loaDataToTable(paramObjectProduct) {
            var vProductTable = $('#product-table');
            for (var bI = 0; bI < paramObjectProduct.length; bI++) {
                var bNewRow = $('<tr/>').appendTo(vProductTable);

                var vName = $('<td/>', {
                    html: paramObjectProduct[bI].name
                }).appendTo(bNewRow);

                var vPrice = $('<td/>', {
                    html: paramObjectProduct[bI].price
                }).appendTo(bNewRow);

                var vAction = $("<td/>").appendTo(bNewRow);
                $('<span/>', {
                    html: `
                <img class="edit-product" src="https://cdn0.iconfinder.com/data/icons/glyphpack/45/edit-alt-512.png" style="width: 20px;cursor:pointer;">
            `,
                    onClick: "onBtnEditProductClick(this)"
                }).data("id", paramObjectProduct[bI]._id).appendTo(vAction);
                $('<span/>', {
                    html: `
                <img class="delete-product" src="https://cdn4.iconfinder.com/data/icons/complete-common-version-6-4/1024/trash-512.png" style="width: 20px;cursor:pointer;">
            `,
                    onClick: "onBtnDeleteProductClick(this)"
                }).data("id", paramObjectProduct[bI]._id).appendTo(vAction);
            }
        }



        function onBtnAddNewProductClick() {
            $("#create-product-modal").modal("show");
        }

        function onBtnEditProductClick(paramBtnEdit) {
            var vCurrentRow = $(paramBtnEdit).closest("tr");
            gProductId = $(paramBtnEdit).data("id");
            getProductById(gProductId);
            $("#update-product-modal").modal("show");
        }

        function onBtnDeleteProductClick(paramBtnDelete) {
            var vCurrentRow = $(paramBtnDelete).closest("tr");
            var vProductId = $(vCurrentRow).find("td:eq(1)").text();
            gId = $(paramBtnDelete).data("id");
            getProductById(gId);
            $("#delete-confirm-modal").modal("show");
        }

        function getProductById(paramProductId) {
            const token = sessionStorage.getItem('token');

            $.ajax({
                url: gBASE_URL + gId,
                type: "GET",
                headers: {
                    'Authorization': `Bearer  ${token}`
                },
                success: function (paramProductId) {
                    showProductDataToModal(paramProductId.data);
                },
                error: function (paramErr) {
                    console.log(paramErr.status);
                }
            });
        }

        const  onBtnAddProduct= async()=> {
            const token = sessionStorage.getItem('token');
            console.log(token);
              //B1:THu thap du lieu
            var reqName = $("#input-create-name").val().trim();
            var reqPrice = $("#input-create-price").val().trim();
            var vProductObj = {
                reqName: reqName,
                reqPrice: reqPrice
            };
            var duLieuHopLe = validate(vProductObj);
            if (duLieuHopLe) {
                const response = await fetch(gBASE_URL, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer  ${token}`
                        },
                        body: JSON.stringify({reqName:vProductObj.reqName,reqPrice:vProductObj.reqPrice}),
                    });
                if(response.ok)
                {
                    handleInsertProductSuccess();
                }
                else{
                    alert("Loi");
                }
            }
        }

        const onBtnUpdateProduct=async()=> {
            const token = sessionStorage.getItem('token');
            var vProductObj = {
                reqName: "",
                reqPrice: ""
            };
            // B1: Thu thập dữ liệu
            getUpdateProductData(vProductObj);
            
            // B2: Validate update
            var duLieuHopLe = validate(vProductObj);
            if (duLieuHopLe) {
                const response = await fetch(gBASE_URL+gProductId, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer  ${token}`
                        },
                        body: JSON.stringify({name:vProductObj.reqName,price:vProductObj.reqPrice}),
                    });
                if(response.ok)
                {
                    handleUpdateProductSuccess();
                }
                else{
                    alert("Loi");
                }
            }
        }


        function onBtnConfirmDeleteProduct() {
            const token = sessionStorage.getItem('token');
            //Thực hiệc việc xóa
            $.ajax({
                url: gBASE_URL + gId,
                type: "DELETE",
                contentType: "application/json;charset=UTF-8",
                headers:{
                      'Authorization': `Bearer  ${token}`
                },
                success: function (paramRes) {
                    // B4: xử lý front-end
                    handleDeleteProductSuccess();
                },
                error: function (paramErr) {

                    console.log(paramErr.status);
                }
            });
        }

        // hàm thu thập dữ liệu để update 
        function getUpdateProductData(paramProductObj) {
            paramProductObj.reqName = $("#input-update-Name").val().trim();
            paramProductObj.reqPrice = $("#input-update-price").val().trim();
        }

        function showProductDataToModal(paramProduct) {
            $("#input-update-productid").val(paramProduct._id);
            $("#input-update-Name").val(paramProduct.name);
            $("#input-update-price").val(paramProduct.price);
        }

        function handleInsertProductSuccess() {
            alert("Thêm product thành công!");
            getAllProduct();
            resertCreateProductForm();
            $("#create-product-modal").modal("hide");
        }

        // hàm xử lý hiển thị front-end khi cập nhật thành công
        function handleUpdateProductSuccess() {
            alert("Cập nhật product thành công!");
            resertUpdateProductForm();
            location.reload();
            $("#update-product-modal").modal("hide");
        }

        function handleDeleteProductSuccess() {
            alert("Xóa product thành công!");
            location.reload();
            $("#delete-confirm-modal").modal("hide");
        }

        function resertCreateProductForm() {
            $("#input-create-name").val("");
            $("#input-create-price").val("");
        }
        // hàm xóa trắng form update user
        function resertUpdateProductForm() {
            $("#input-update-Name").val("");
            $("#input-update-Price").val("");
        }

        function validate(paramObjProduct) {
            if (paramObjProduct.reqName == "") {
                alert("Bạn chưa nhập Name");
                return false;
            }
            if (paramObjProduct.reqPrice == "") {
                alert("Ban chua nhap price");
                return false;
            }
            return true;
        }
    </script>